<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/home.css">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome, <%= admin.name %></h1>
    <a href="/adminlogout">Logout</a>
</body>
</html>
<h1 class="text-center game-title animate__animated animate__bounce " id="c"><b>C </b></h1>
<h1 class="text-center game-title animate__animated animate__backInRight " id="m"><b> Mastermind</b></h1>
