<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Awesome Quiz App | CodingNepal</title> -->
    <link rel="stylesheet" href="style/quiz.css">
    <!-- FontAweome CDN Link for Icons -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="shortcut icon" href="assets/letter-c.png" type="image/x-icon">
</head>
<body>
    <!-- start Quiz button -->
    <div id="messageContainer"></div>
    <div class="home-cont">
        <div class="start_btn"><button id="button1">Start Quiz</button></div>
    </div>

    <!-- Info Box -->
    <div class="info_box">
        <div class="buttons">
            <button class="quit">Exit Quiz</button>
            <button class="restart">Continue</button>
        </div>
    </div>
    

    <!-- Quiz Box -->
        <div class="quiz_box">
            <header>
                 <div class="title"></div>
                <div class="quiz-header">
                    <span class="difficulty"></span>
                    <span class="header-score"></span>
                </div>
            </header>
            <section>
                <div class="que_text">
                    <!-- Here I've inserted question from JavaScript -->
                </div>
                <div class="option_list">
                    <!-- Here I've inserted options from JavaScript -->
                </div>
            </section>
            <!-- footer of Quiz Box -->
            <footer>
                <button class="hint_btn">Hint <img src="assets/hint.png" alt=".."></button>
                <div class="total_que">
                    <!-- Here I've inserted question from JavaScript -->
                </div>
                <button class="next_btn">Next Que</button>
            </footer>
        </div>

        <div class="animation" id="animation">

        </div>

        <div class="explain">
            <span class="explanation">Explanation</span>
        </div>

    <!-- Result Box -->
    <div class="result_box">
        <h2>Quiz Result</h2>
        <div class="percentage-container">
            <div class="score_text">
                <!-- Score Result will be inserted here -->
            </div>
            <div class="circular-progress">
                <span class="progress-value">0%</span>
            </div>
            <div class="score_text3">
                <!-- Score Result will be inserted here -->
            </div>
            <div class="score_text1">
                <!-- Score Result will be inserted here -->
            </div>
            <div class="score_text2">
                <!-- Score Result will be inserted here -->
            </div>
        </div>
        <div class="buttons">
            <button class="resbtn">Replay Quiz</button>
            <button class="next_quiz">Next</button>
        </div>
    </div>
       

    <!-- Inside this JavaScript file I've coded all Quiz Codes -->
    <script src="script/quiz.js"></script>
    <script src="script/confetti.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.3/lottie.min.js"></script>

</body>
</html>
