<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C Mastermind</title>
    <link rel="stylesheet" href="style/home.css">
    <link rel="shortcut icon" href="assets/letter-c.png" type="image/x-icon">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>
<body>

    <header>
        <h1 id="c" class="animate__animated animate__bounce animate__delay-0.7s">C</h1>
        <h1 id="m" class="animate__animated animate__backInRight animate__delay-0.7s animate__speed-50%">Mastermind</h1>
        <nav>
            <a href="#" class="animate__animated animate__zoomIn animate__delay-0.7s" class="active">About</a>
            <a href="#" class="animate__animated animate__zoomIn animate__delay-0.7s">Game</a>
            <a href="#" class="animate__animated animate__zoomIn animate__delay-0.7s">Services</a>
            <a href="#" class="animate__animated animate__zoomIn animate__delay-0.7s">Contact</a>
        </nav>
    </header>

    <section class="home">
        <img src="assets/mount2.png" class="mount2">
        <img src="assets/mount1.png" class="mount1">
        <img src="assets/bush2.png" class="bush2">

        <h1 class="title">Welcome to C Mastermind</h1>
        <h1 class="title2">Unleash your coding potential with C Mastermind.</h1>
        
        <img src="assets/bush1.png" class="bush1">
        <img src="assets/leaf2.png" class="leaf2">
        <img src="assets/leaf1.png" class="leaf1">
    </section>

    <section class="about">
        <h1>About</h1>
        <br>
        <p>C is a powerful general-purpose programming language that was developed in the early 1970s by Dennis Ritchie at the Bell Telephone Laboratories to develop the UNIX operating system. C is widely used for system programming, writing other programming languages, and developing applications where performance and control are crucial.</p>
        <br>
        <p>Learning C programming language is essential for anyone aspiring to become a proficient programmer. It lays the foundation for understanding how computers work at a low level and provides insights into memory management, pointers, and efficient programming techniques.</p>
        <br>
        <p>With our fun and interactive quiz, you can embark on an exciting journey to master C programming. Whether you're a beginner or an experienced programmer looking to enhance your skills, our quizzes will challenge your knowledge and help you grasp key concepts in a playful manner.</p>
    </section>

    <section class="play-button" class="animate__animated animate__hinge">
        <button onclick="window.location.href='/login'" class="play-btn" class="animate__animated animate__hinge">Let's Play</button>
    </section>

    <script src="script/home.js"></script>

</body>
</html>
